.contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    min-height: 90vh;
    justify-content: center;
    &__imgContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 90px;
        &--img{
            width: 100px;
        }
        &--title{
            font-size: 20px;
            font-weight: bold;
        }
    }
    &__buttons{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px 20px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        &--button{
            width: 130px;
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 3px 3px black;
            cursor: pointer;
        }
        &--button:hover{
            box-shadow: none;
            transform: translate(3px, 3px); 
        }
    }
}
.logo{
    width: 30px;
}
.linkhref{
    text-decoration: none;
}